.div-chart {
    width: 50%;
    float: left;
    border:1px solid black;
    overflow: hidden;
    padding: 10px;
}

.div-chart input[type='button'] {
    font-size: 18px;
    color: #666;
    float: right;
}

/*exibe apenas um grafico por linha*/
@media only screen and (max-width: 1000px) {
    .div-chart {
        min-width: 500px;
        width: 100%;
        float: left;
        border:1px solid black;
        overflow: hidden;
    }
}

.downloadButton {
    float: right;
}

.select-regional {
    width: 11em;
}
.select-servico {
    width: 11em;
}

/*
.refresh-button {
    font-size: 15px;
}
*/
